<h1>Enter the maze</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="riddle1">What has a foot but no legs?</label>
    <input id="riddle1" name="riddle1" class="form-control" type="text" autocomplete="off">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
