<h1>Tears of Joy</h1>
<p>You can't believe it. You have fullfilled your dream of becoming highly esteemd hollywood actor Vince Vaughn and it feels really, really good. Your mind is flooded with fantasies of finally being respected at your french immersion meetup. You used to be a lonely computer programmer, but now you are Vince Vaughn, star of hit movies like <em>The Dilemnm</em> and <em>the Locusts</em>.<p>
  <a href="/room4">Back to Room 1</a>  <a href="/room4">Door 2</a>
