<h1>The Key</h1>

<p>The key is mostly unremarkable except for what looks like a tiny inscription. You wipe it down to get a closer look. "Vince Vaughn" it says. You throw it as soon as the words are read. You grab one of the wine glasses perched atop one of the tables and look at your reflection. You're looking into the wide eyes of Vince Vaugn. </p>
<p>It comes back to you at once. The procedure worked! You're conciousness has been loaded into Vince Vaugn's body. You are in his house. You wonder where everyone else is.
  <br>
  <br>
  <a href="/room4">Call for help</a>  || <a href="/room3">Cry</a>
