<h1>The Parlor</h1>

<p>The door is heavier than you expected. It slams behind you. This makes you jump. The smell of incense fills your lungs. The room is large, carpeted, and filled with tables furnished with tableclothes and fine china. Velvet curtains line the walls. An old timey radio is playing <em>Can't Help Falling In Love</em> in the background.</p>
<p>You spit the key out. Look at it.</p>

  <a href="/room1">Take a closer look at the key.</a>
